
@import "../node_modules/vui-validation/validation";

.field-interacted.field-invalid input,
.field-interacted.field-invalid input[type=text],
.field-interacted.field-invalid select,
.field-interacted.field-invalid textarea {
	@include vui-validation-invalid;
};

.field-bubble {
	@include vui-validation-bubble;
}

.field-bubble-content {
	@include vui-validation-bubble-content;
}

.field-bubble-hidden {
	display: block;
	position: absolute;
	left: -10000px;
	overflow: hidden;
	width: 1px;
	height: 1px;

	[dir="rtl"] & {
		left: auto;
		right: -10000px;
	}
}

.field-bubble-show {
	@include vui-validation-bubble-show;
}
